*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    background-image: url("https://marketplace.canva.com/EAEthkBVLfQ/1/0/800w/canva-blush-wave-desktop-wallpaper-S_4-_kpzunc.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
.container{
    display :flex;
    max-width: 100%;
    justify-content: space-between;
    min-height: 80vh;
    padding: 0 10px;
   
    

}
.todobox {
    display: flex;
    align-items: center;
  }

#error{
    font-size: 0.8rem;
}
.left-container{
   width: 25%;
   padding: 0 5px;
  

}

.mid-container{
   
    width: 50%;
    padding:0px 10px;
  
 
   
}
.right-container{
 
    width: 25%;
    padding: 0 10px;
}
.box{

    width:100%;
    margin:auto;
    margin-top:5rem;

    /* background-image: url("https://cdn.vectorstock.com/i/preview-1x/03/05/pastel-pink-background-streaks-vector-39870305.jpg");
    background-size: cover; */
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgb(227, 225, 227) 100%);
    border-radius:30px;
    padding:5% 8%;
   
 


}
.scroll-list{

      
        height:100px;
        overflow-y:auto;
      
    

}

.box h2{
    text-align:center; 
    margin-bottom:6px ;
}

#inputbx{
    width:70%;
    position: relative;
    /* margin: auto; */
    border:2px double black;
    outline:none;
    padding:2% 5%;
    border-radius: 10px;
    font-size:0.8rem;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);

}



#add{
    width:60px;
    font-size:0.8rem;
    margin-top:2%;
    padding:2% 4%;
    
    border-radius: 10px;
   

}

ul li{
    position: relative;
    list-style: none;
    font-size: 0.8rem;
    padding:2% 4%;
    border-radius: 10px;
    background-color: azure;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    margin-top:5px;
    width:70%;
}

ul li span{
    position: absolute;
    right:4px;
    top:2px;
    font-weight: 600;
    width: 1rem;
    font-size:1rem;
    color: red;
    line-height: 20px;
    text-align: center;
}
ul li span:hover{
    background: #edeef0;

}

.start, .reset{

    width:100px;
    font-size:0.8rem;
    margin-top:2%;
    padding:2% 4%;
   
    border-radius: 10px;
   

}

#date-input{
    font-size:0.8rem;
  
    width: 80%;
    padding:2% 5%;
    border-radius: 10px;

}


#show-countdown{
    width:100%;
  
   display: flex;
   justify-content: space-between;
   
    margin-top:2%;
}
/* #show-countdown h1{
    
} */

.show{
   
    background-color: #090909;
    color:#ffff;
    font-size: 2rem;
   
    text-align: center;   
}

.show p{
    font-size: .5rem;
    background-color:white;
    color:#090909;
}


/* ----------time---------- */

.time{
   
   
    margin: auto;
    margin-top:5rem;
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgb(227, 225, 227) 100%);
    border-radius:30px;
    padding:10px;

} 
.time h2{
     
    text-align:center;
    font-weight: 600;
   
    margin-bottom:10px ;

}


#clock{

    width:fit-content;
    margin: auto;
    padding: 0.8rem;
    
   
    background-color: #7ee715;
    border: 1px solid#212121;
    border-radius: 8px;
    color: black;
    font-size: 1.5rem;
   
    font-weight: 400;
}



/* ---------Search bar--------
 */

 .search-bar {
    margin-top: 8%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
 #search-input {
    width:100%;
    position: relative;
    outline:none;
    /* margin: auto; */
   
    border: none;
    padding:10px 30px;
    border-radius: 25px;
    font-size:1rem;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);}

#icon-container {

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    /* display: flex;
    flex-wrap: wrap; */
    padding: 5px;
    /* max-width:90%; */
    max-width: 80%;
    margin:auto;
    margin-top: 30px;
 
    justify-content:center;
   
}

@media screen and (max-width: 1075px) {

    #icon-container {
      grid-template-columns: 1fr 1fr 1fr;
      background-color: #ff5858;
    }
  }
  
.icon {
    max-width:fit-content;
    position: relative;
   
    margin: 10px;
    border-radius: 5px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    cursor: pointer;
     
   
}
.icon:hover{
    transform: scale(1.2);

}

/* .icon img {
    width:100px;
    display: block;
   
    margin:auto;
} */
.icon img {
    width: 100%;
    display: block;
    width:100px;
    margin: auto;
  }


.delete-icon {
    position: absolute;
   top: 0;;
    right: 1px;
   
    color: white;
    cursor: pointer;
    display: none;
  
  
}

.icon:hover .delete-icon{
    transform: scale(1.2);
    display: block;

}




@media (max-width:768px)   { 
    /* Your mobile styles go here */

    .container{
        display:block;
       

    
    }
    .left-container{
        width: 100%;
     
     
     }
     
     .box{

        width:80%;
        margin:auto;
        margin-top: 5rem;
       
       
    
    }
    #inputbx{
        width:80%;
       
    
    }
    
    
    
    #add{
        width:70px;
        
       
    
    }
    



    #show-countdown{
        
        margin: 1rem .5rem;
        gap:2px;
       
        font-size: 0.5rem;
        justify-content: space-between;
        text-align: center;
    }

    .show{
        width: 60px;
        color:#ffff;
        font-size: 1.2rem;
        text-align: center;
        margin-bottom: 1px;
        
       
    
    
    }

    /* ---------Search bar--------
 */


 .mid-container{
   
    width: 100%;
    margin: auto;
}

#search-input {
 
    font-size:1rem;
    

}
.right-container{
    width: 90%;
    margin: auto;
 

 }

 #icon-container {
    grid-template-columns: 1fr 1fr ;

    width: 100%;
    margin: auto;
  }
 /* #icon-container {
   
    
    width:100%;
    margin:auto;
    
} */
/* .icon{

    margin:auto;
    margin-top:20px;
    width: 30%;
    
   

   
} */
/* .icon img{
   max-width:100%
} */

.icon {
    width: 50%;
    margin: auto;
    margin-top: 20px;
  }
  .icon img {
    width: 90%;
  }
 .time{
    padding:30px;
 }

 #clock{
     font-size: 2rem;
   

}
}

